* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#my-mark {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    justify-content: end;
    height: 30px;
    width: 150px;
}

#my-mark > h4 {
    display: block;
    margin: auto 0;
    margin-right: 16px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 300;
    font-family: 'Bai Jamjuree', sans-serif;
}

#my-mark > div {
    margin: auto 0;
    height: 2px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 1000px) {
    .module1 {
        height: 70%;
        width: 100% !important;
        min-width: unset !important;
        margin: 0 auto;
    }
}

.module1 {
    margin: 0 auto;
    margin-top: 50px;
    height: 70%;
    width: 60%;
    min-width: 1000px;
}

.one {
    display: flex;
    margin: 0 auto 50px auto;
    height: 100px;
    width: 100%;
}

.one > span {
    margin: auto 20px auto 0;
    color: rgba(103, 173, 198, 0.4);
    font-size: 60px;
    font-weight: 400;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
}

.one > button {
    display: block;
    margin: auto 0;
    height: 40px;
    padding: 0 40px;
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.two {
    display: flex;
    margin: 0 auto 4px auto;
    height: 30px;
    width: 94%;
}

.two > span {
    margin: auto 12px auto 0;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
}

.two > span:nth-child(1) {
    color: rgba(163, 198, 103, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.two > span:nth-child(2) {
    color: rgba(255, 255, 255,0.5);
    font-size: 16px;
    font-weight: 400;
}

.three {
    margin: 0 auto;
    height: 14px;
    width: 97%;
}

.three > .left, .three > .right {
    float: left;
    height: 100%;
    width: 44px;
}

.three > .center {
    float: left;
    height: 2px;
    width: calc(100% - 44px * 2);
    background-color: rgba(255, 255, 255, 0.075);
}

.three .vertical {
    float: left;
    height: 100%;
    width: 3px;
    background-color: rgba(255, 255, 255, 0.2);
}

.three .horizontal {
    float: left;
    height: 3px;
    width: calc(100% - 3px);
    background-color: rgba(255, 255, 255, 0.2);
}

.four {
    margin-top: 5px;
    height: 38px;
    width: 100%;
    background-color: rgba(204, 204, 255, 0.075);
}

.four .left, .four .right {
    display: grid;
    align-content: space-between;
    float: left;
    height: 100%;
    width: 11px;
}

.four .center {
    float: left;
    height: 100%;
    width: calc(100% - 11px * 2);
}

.four .center > .border {
    height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.075);
}

.four .center > .content {
    display: flex;
    padding: 0 30px;
    height: calc(100% - 2px);
    width: 100%;
}

.four .center > .content > span {
    margin: auto 12px auto 0;
    color: rgba(255, 255, 255, 0.45);
    font-size: 13px;
    font-weight: 400;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
}

.four .center > .content > span:nth-child(2) {
    color: rgba(255, 255, 255, 0.3);
}

.four .large {
    height: 11px;
    width: 11px;
    background-color: rgba(255, 255, 255, 0.2);
}

.four .small {
    height: 4px;
}

.four .small > div {
    height: 100%;
    width: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.four .right > .small > div {
    float: right;
}

.five {
    display: flex;
    margin-top: 3px;
    height: 36px;
    width: 100%;
}

.five > div:nth-child(1) {
    margin-right: 3px;
    height: 100%;
    width: 50px;
    background-color: rgba(108, 125, 179, 0.56);
}

.five > div:nth-child(2) {
    margin-right: 3px;
    height: 100%;
    width: 36px;
    background-color: rgba(255, 255, 255, 0.8);
}

.five > div:nth-child(3) {
    height: 100%;
    width: 100%;
    background-color: rgba(80, 176, 255, 0.62);
}

#six {
    margin-top: 3px;
    height: auto;
    width: 100%;
}
#six > div {
    margin-bottom: 2px;
    border-radius: 5px;
    transition: 0.25s;
    display: flex;
    float: left;
    height: 30px;
    width: 100%;
}

#six > div:nth-child(1) {
    background-color: rgba(204, 204, 255, 0.1) !important;
}

#six > div:nth-child(1) > div > span {
    color: rgba(255, 255, 255, 0.3) !important;
    font-size: 12px;
    font-weight: 500;
}

#six > div:nth-child(1n + 2):hover > div > span {
    color: rgba(255, 255, 255, 0.25);
}

#six > div:nth-child(2n+3) {
    background-color: rgba(204, 204, 255, 0.08);
    transform: translateX(-3px);
}

#six > div:nth-child(2n+3):hover {
    background-color: rgba(204, 204, 255, 0.16);
    transform: translateX(-10px);
}

#six > div:nth-child(odd) > div > span {
    color: rgba(255, 255, 255, 0.15);
}

#six > div:nth-child(2n) {
    background-color: rgba(204, 204, 255, 0.06);
    transform: translateX(3px);
}

#six > div:nth-child(2n):hover {
    background-color: rgba(204, 204, 255, 0.16);
    transform: translateX(10px);
}

#six > div:nth-child(even) > div > span {
    color: rgba(255, 255, 255, 0.15);
}

#six > div > div {
    display: flex;
    float: left;
    align-items: center;
}

#six > div > div > span {
    margin-left: 30px;
}

#six > div > div:nth-child(1) {
    width: 200px;
}

#six > div > div:nth-child(1) > span {
    margin: 0 auto;
}

#six > div > div:nth-child(2) {
    width: 100%;
}

#six > div > div:nth-child(3) {
    width: 200px;
}

#six > div > div:nth-child(4) {
    width: 200px;
}

#six > div > div > span {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
}